<!DOCTYPE html>
<html>
<head>
    <title>Customer Create Ticket</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<%- include('header') %>
<body>
<div class="container">
    <div class="header">
        <h2>Create a New Ticket</h2>
	    <div class="header-actions">
        	<a href="<%= backUrl %>" class="btn">Back</a>
        	<a href="#" onclick="confirmLogout()" class="btn logout-btn">Logout</a>
	    </div>
    </div>
    <form id="createTicketForm" action="/tickets/create" method="POST" class="form-create">
        <label>Title</label>
        <input type="text" name="title" required>
        <label>Description (Describe your issue)</label>
        <textarea name="description" required></textarea>
        <small>This will be the first message in your ticket conversation</small>
        <label>Priority</label>
            <select name="priority">
                <option value="P1">P1 - Critical</option>
                <option value="P2">P2 - High</option>
                <option value="P3" selected>P3 - Medium</option>
                <option value="P4">P4 - Low</option>
                <option value="P5">P5 - Very Low</option>
            </select>

        <% if (role === 'technician') { %>
            <select name="assigned_to">
                <option value="">Unassigned</option>
                <option value="<%= currentUserId %>" selected>Assign to Me</option>
                <% technicians.forEach(tech => { %>
                    <% if (tech.user_id !== currentUserId) { %>
                        <option value="<%= tech.user_id %>">
                            <%= tech.full_name %>
                        </option>
                    <% } %>
                <% }) %>
            </select>
    <% } %>

    <button type="button" class="btn create-btn" onclick="confirmCreateTicket()">Create Ticket</button>

    </form>
</div>
</body>
</html>

<script>
    function confirmLogout() {
        showConfirm("Are you sure you want to logout?", function () {
            window.location.href = "/logout";
        });
    }
    function confirmCreateTicket() {
    showConfirm("Are you sure you want to create this ticket?", function () {
        document.getElementById("createTicketForm").submit();
    });
}
</script>